# REDIS
REDIS_HOSTS="local:redis:6379"

# POSTGRES
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_DB=fitatam

# PGADMIN
PGADMIN_LISTEN_ADDRESS=0.0.0.0
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin

# MINIO
MINIO_ROOT_USER="admin"
MINIO_ROOT_PASSWORD="minioadmin"