{
    "root": true,
    "plugins": ["prettier"],
    "extends": ["plugin:prettier/recommended"],
    "rules": {
        "prettier/prettier": "error"
    },
    "ignorePatterns": ["node_modules", "build", "coverage", ".turbo", "logs"]
}
