<body>
    <h1>Hello, {{username}}!</h1>
    <p>You successfully registered an account on EcoSide. Before you can use our
        website, we need to verify that this email address belongs to you.</p>
    <p>Please, click below link to confirm your account.</p>
    <a href='{{confirm_url}}'>Confirm Now</a>
    <p>Regards, <br /> EcoSide Team</p>
</body>